*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* --mainColor1: #008000;
    --mainColor2: #00A600;
    --mainColor3: #00CC00;
    --mainColor4: #A3FF66;
    --mainColor5: #DBFF87; */
    --colorBg: #101010;
    --colorBgHeader: #1c1c1c;
    --colorText: #f1f1f1;
    --fontInter: 'Inter', sans-serif;
    --fontPoppins: 'Poppins', sans-serif;
    --fontTeko: 'Teko', sans-serif;
    --timingFunction: cubic-bezier(0.25, 0.46, 0.45, 0.94);
/* COLOURS OF DRINKS */

/* monster energy (me) */
    --meColor1: #CCD716;
    --meColor2: #8BBA44;
    --meColor3: #1C9C4A;
/* monster vr46 (vr) */
    --vrColor1: #F4EC42;
    --vrColor2: #EB8E02;
/* monster mango loco (ml) */
    --mlColor1: #F9B033;
    --mlColor2: #CF5C1A;
    --mlColor3: #089AC6;
/* monster ultra paradise (pa) */
    --paColor1: #CDCDCD;
    --paColor2: #6BAC25;
/* monster ultra sunrise (su) */
    --suColor1: #CDCDCD;
    --suColor2: #D76B12;
/* monster ultra watermelon (wa) */
    --waColor1: #D0D0D0;
    --waColor2: #2FA454;
    --waColor3: #C42329;
/* monster ultra (mu) */
    --muColor1: #B8B8B8;
    --muColor2: #E7E7E7;
}

html {
    font-size: 10px;
    font-family: var(--fontPoppins);
    scroll-behavior: smooth;
}

body {
    color: var(--colorText);
    background-color: var(--colorBg);
}

ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

@keyframes float {
    0% {transform: translateY(0px);}
    50% {transform: translateY(-20px);}
    100% {transform: translateY(0px);}
}




/* HEADER */

#header {
    width: 100%;
    height: 9rem;
    padding: 1rem 15rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    font-family: var(--fontInter);
    background-color: var(--colorBgHeader);
    display: flex;
    align-items: center;
    column-gap: 3rem;
}

/* HEADER - Logo */

.header_logo {
    display: inline-block;
    height: 100%;
}

.header_logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.body-light .header_logo img {
    filter: drop-shadow(-1px 1px 2px #000);
}

/* HEADER - Products */

.header_nav {
    flex-grow: 1;
    display: grid;
    place-items: center;
}

.nav_button {
    font-family: inherit;
    color: inherit;
    font-size: 2rem;
    padding: 1rem 2rem;
    position: relative;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    transition: letter-spacing .2s var(--timingFunction);
}

.nav_button:hover {
    letter-spacing: 2px;
}

.nav_button::before,
.nav_button::after {
    content: '';
    width: 0%;
    height: 4px;
    position: absolute;
    background-color: var(--meColor3);
    bottom: -2.2rem;
    transition: width .5s var(--timingFunction);
}

.nav_button::before {
    right: 50%;
}

.nav_button::after {
    left: 50%;
}

.nav_button:hover::before,
.nav_button:hover::after {
    width: 50%;
}

.nav_button i {
    margin-left: .5rem;
}

.nav_ul {
    display: none;
}

/* HEADER - Language */

.language__button {
    font-family: inherit;
    color: inherit;
    font-size: 2rem;
    padding: 1rem 2rem;
    position: relative;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    transition: color .25s var(--timingFunction);
}

.language__button:hover {
    color: var(--meColor2);
}

.language__button::before {
    content: '';
    width: 0;
    height: 1px;
    background-color: var(--meColor2);
    position: absolute;
    bottom: 0;
    left: 5%;
    transition: width .5s var(--timingFunction);
}

.language__button:hover::before {
    width: 95%;
}

.language__ul {
    display: none;
}




/* MAIN */

/* MAIN - Section Home */

.section_home {
    margin-top: 9rem;
    width: 100%;
    height: 60vh;
    background-image: url(assets/bgHome.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section_home div {
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    display: grid;
    place-items: center;
    position: relative;
}

.home_h1 {
    color: #f1f1f1;
    font-family: var(--fontTeko);
    font-size: 10rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: -2px 2px 5px #000;
    padding: 1rem 3rem;
}

.home_h1 span {
    color: #6BD41A;
}

/* MAIN - Section Drink */

.section_drink {
    width: 75%;
    margin: 9rem auto;
    padding: 2px;
    border-radius: 2rem;
}

#drink1 {
    background: linear-gradient(135deg, var(--meColor1) 0%, var(--meColor2) 50%, var(--meColor3) 100%);
}

#drink2 {
    background: linear-gradient(135deg, var(--vrColor1) 0%, var(--vrColor2) 100%);
}

#drink3 {
    background: linear-gradient(135deg, var(--mlColor1) 0%, var(--mlColor2) 50%, var(--mlColor3) 100%);
}

#drink4 {
    background: linear-gradient(135deg, var(--paColor1) 0%, var(--paColor2) 100%);
}

#drink5 {
    background: linear-gradient(135deg, var(--suColor1) 0%, var(--suColor2) 100%);
}

#drink6 {
    background: linear-gradient(135deg, var(--waColor1) 0%, var(--waColor2) 50%, var(--waColor3) 100%);
}

#drink7 {
    background: linear-gradient(135deg, var(--muColor1) 0%, var(--muColor2) 100%);
}

.drink_container {
    background-color: var(--colorBg);
    border-radius: 2rem;
    padding: 4rem;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.container_img {
    flex-basis: 15%;
}

.img_monster {
    width: 20rem;
    position: absolute;
    top: -50px;
    left: -70px;
    animation: float 3s var(--timingFunction) infinite;
}

#drink2 .img_monster,
#drink4 .img_monster,
#drink6 .img_monster {
    animation-delay: 1s;
}

.container_description {
    flex-basis: 75%;
    height: 45rem;
    display: flex;
    flex-wrap: wrap;
}

.description_title {
    flex-basis: 100%;
    height: 15rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #5f5f5f;
}

.description__h2 {
    flex-basis: 60%;
    font-size: 6.5rem;
    line-height: 5.5rem;
    font-family: var(--fontTeko);
    text-transform: uppercase;
    text-align: center;
    user-select: none;
}

.description__img {
    flex-basis: 40%;
    height: 100%;
    object-fit: contain;
}

.description_text {
    flex-basis: 100%;
    height: 20rem;
    margin-top: 2rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.description_text p {
    width: 60%;
    font-size: 2rem;
    text-align: center;
}

.description_flavor {
    flex-basis: 100%;
    align-self: flex-end;
    display: flex;
    align-items: center;
    border: 2px solid #5f5f5f;
}

.flavor_h5 {
    flex-basis: 30%;
    font-size: 3rem;
    font-family: var(--fontTeko);
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem;
    background-color: #5f5f5f20;
    border-right: 2px solid #5f5f5f;
}

.flavor_text {
    flex-basis: 70%;
    font-size: 2rem;
    text-align: center;
    padding: 1rem;
}

.container_info {
    flex-basis: 55%;
}

.container_infoPerCan {
    flex-basis: 45%;
    font-family: var(--fontTeko);
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.infoPerCan_h4 {
    font-size: 3.5rem;
    font-weight: 400;
    letter-spacing: 1px;
}

.infoPerCan_div {
    width: 40rem;
    height: 25rem;
    display: flex;
    flex-wrap: wrap;
    outline: 2px solid #5f5f5f;
}

.infoPerCan__number {
    flex-basis: 50%;
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #5f5f5f35;
    border-bottom: 2px solid #5f5f5f;
}

.infoPerCan__number:first-of-type {
    border-right: 2px solid #5f5f5f;
}

.number_num {
    font-size: 6rem;
    font-weight: 700;
    letter-spacing: 5px;
    user-select: none;
}

.number_text {
    font-size: 2.5rem;
    letter-spacing: .5px;
    color: #5f5f5f;
    user-select: none;
}

.infoPerCan__link {
    flex-basis: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    letter-spacing: 1px;
    color: #6BD41A;
    transition: color .25s var(--timingFunction);
}

.infoPerCan__link:hover {
    color: var(--paColor2);
}

.infoPerCan__link i {
    margin-left: 1rem;
    color: #5f5f5f;
    transition: color .25s var(--timingFunction);
}

.infoPerCan__link:hover i {
    color: var(--paColor2);
}

.infoPerCan_text {
    font-family: var(--fontPoppins);
    text-transform: none;
    width: 40rem;
    margin-top: 2rem;
    font-size: 1.5rem;
    color: #5f5f5f;
    text-align: center;
}