*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --colorBg: #101010;
    --colorBgHeader: #1c1c1c;
    --colorText: #f1f1f1;
    --fontInter: 'Inter', sans-serif;
    --fontPoppins: 'Poppins', sans-serif;
    --fontTeko: 'Teko', sans-serif;
    --timingFunction: cubic-bezier(0.25, 0.46, 0.45, 0.94);
/* COLOURS OF DRINKS */

/* monster energy (me) */
    --meColor1: #CCD716;
    --meColor2: #8BBA44;
    --meColor3: #1C9C4A;
/* monster vr46 (vr) */
    --vrColor1: #F4EC42;
    --vrColor2: #EB8E02;
/* monster mango loco (ml) */
    --mlColor1: #F9B033;
    --mlColor2: #CF5C1A;
    --mlColor3: #089AC6;
/* monster ultra paradise (pa) */
    --paColor1: #CDCDCD;
    --paColor2: #6BAC25;
/* monster ultra sunrise (su) */
    --suColor1: #CDCDCD;
    --suColor2: #D76B12;
/* monster ultra watermelon (wa) */
    --waColor1: #D0D0D0;
    --waColor2: #2FA454;
    --waColor3: #C42329;
/* monster ultra (mu) */
    --muColor1: #B8B8B8;
    --muColor2: #E7E7E7;
}

html {
    font-size: 10px;
    font-family: var(--fontPoppins);
    scroll-behavior: smooth;
}

body {
    color: var(--colorText);
    background-color: var(--colorBg);
}

ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

@keyframes float {
    0% {transform: translateY(0px);}
    50% {transform: translateY(-20px);}
    100% {transform: translateY(0px);}
}

@keyframes slideInTop {
    0% {
        transform: translateY(-9rem);
        opacity: 0;
    }
    15% {
        opacity: 1;
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    15% {
        opacity: 1;
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideOutTop {
    0% {
        top: 9rem;
        transform: translateY(0);
        opacity: 1;
    }
    15% {
        opacity: 0;
    }
    100% {
        top: -9rem;
        transform: translateY(-9rem);
        opacity: 0;
    }
}

@keyframes slideOutTop2 {
    0% {
        top: 6.5rem;
        transform: translateY(0);
        opacity: 1;
    }
    15% {
        opacity: 0;
    }
    100% {
        top: -9rem;
        transform: translateY(-9rem);
        opacity: 0;
    }
}

@keyframes slide {
    0% {transform: translateX(0);}
    25% {transform: translateX(.5rem);}
    50% {transform: translateX(-1rem);}
    75% {transform: translateX(.5rem);}
    100% {transform: translateX(0);}
}

::-webkit-scrollbar {
    width: 1rem;
    background-color: var(--colorBg);
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, var(--meColor1) 0%, var(--meColor3) 100%);
    border-radius: 5px;
}




/* HEADER */

#header {
    width: 100%;
    height: 9rem;
    padding: 1rem 15rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    font-family: var(--fontInter);
    background-color: var(--colorBgHeader);
    display: flex;
    align-items: center;
    column-gap: 3rem;
}

/* HEADER - Logo */

.header_logo {
    display: inline-block;
    height: 100%;
}

.header_logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* HEADER - Products */

.header_nav {
    flex-grow: 1;
    display: grid;
    place-items: center;
}

.nav_button {
    font-family: inherit;
    color: inherit;
    font-size: 2rem;
    padding: 1rem 2rem;
    position: relative;
    z-index: 1000;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    transition: letter-spacing .2s var(--timingFunction);
}

.nav_button.active,
.nav_button:hover {
    letter-spacing: 2px;
}

.nav_button::before,
.nav_button::after {
    content: '';
    width: 0%;
    height: 4px;
    position: absolute;
    background-color: var(--meColor3);
    bottom: -2.2rem;
    transition: width .5s var(--timingFunction);
}

.nav_button::before {
    right: 50%;
}

.nav_button::after {
    left: 50%;
}

.nav_button.active::before,
.nav_button.active::after,
.nav_button:hover::before,
.nav_button:hover::after {
    width: 50%;
}

.nav_button i {
    margin-left: .5rem;
    transition: transform .25s var(--timingFunction);
}

.nav_button.active i {
    transform: rotate(-180deg);
}

.nav_ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem;
    gap: 2rem 3rem;
    position: absolute;
    top: -50vh;
    z-index: 500;
    width: 90%;
    height: 30rem;
    background-color: var(--colorBgHeader);
}

.nav_ul.not-visible {
    animation: slideOutTop 1.25s var(--timingFunction);
}
.nav_ul-visible {
    top: 9rem;
    animation: slideInTop 1s var(--timingFunction);
}

.nav__li {
    flex-basis: calc((100% - (3rem * 6)) / 7);
    max-width: 25rem;
    min-width: 15rem;
    height: 100%;
}

.nav__li-link {
    display: flex;
    flex-direction: column;
    padding: 1.5rem 0 1rem;
    width: 100%;
    height: 100%;
    position: relative;
}

.link_img{
    width: 100%;
    height: 70%;
    min-height: 15rem;
    object-fit: contain;
    position: relative;
    z-index: 100;
}

.link_span {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    width: 100%;
    height: 30%;
    position: relative;
    z-index: 100;
    text-align: center;
    font-family: var(--fontTeko);
    font-size: 3rem;
    line-height: 2.7rem;
}

.nav__li-link::before {
    content: '';
    width: 100%;
    height: 3px;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    transition: bottom .5s var(--timingFunction);
}

.nav__li-link:hover::before {
    bottom: 100%;
}

.nav__li-link::after {
    content: '';
    width: 100%;
    height: 0;
    position: absolute;
    z-index: 1;
    background-color: #5f5f5f30;
    bottom: 0;
    left: 0;
    transition: height .5s var(--timingFunction);
}

.nav__li-link:hover::after {
    height: 100%;
}

.nav__li:first-of-type .nav__li-link::before {
    background: linear-gradient(45deg, var(--meColor1) 0%, var(--meColor2) 50%, var(--meColor3) 100%);
}

.nav__li:nth-of-type(2) .nav__li-link::before {
    background: linear-gradient(45deg, var(--vrColor1) 0%, var(--vrColor2) 100%);
}

.nav__li:nth-of-type(3) .nav__li-link::before {
    background: linear-gradient(45deg, var(--mlColor1) 0%, var(--mlColor2) 50%, var(--mlColor3) 100%);
}

.nav__li:nth-of-type(4) .nav__li-link::before {
    background: linear-gradient(45deg, var(--paColor1) 0%, var(--paColor2) 100%);
}

.nav__li:nth-of-type(5) .nav__li-link::before {
    background: linear-gradient(45deg, var(--suColor1) 0%, var(--suColor2) 100%);
}

.nav__li:nth-of-type(6) .nav__li-link::before {
    background: linear-gradient(45deg, var(--waColor1) 0%, var(--waColor2) 50%, var(--waColor3) 100%);
}

.nav__li:last-of-type .nav__li-link::before {
    background: linear-gradient(45deg, var(--muColor1) 0%, var(--muColor2) 100%);
}

/* HEADER - Language */

.language_container {
    position: relative;
    z-index: 1000;
}

.language__button {
    font-family: inherit;
    color: inherit;
    font-size: 2rem;
    padding: 1rem 2rem;
    position: relative;
    z-index: 1000;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    transition: color .25s var(--timingFunction);
}

.language__button.active,
.language__button:hover {
    color: var(--meColor2);
}

.language__button::before {
    content: '';
    width: 0;
    height: 1px;
    background-color: var(--meColor2);
    position: absolute;
    bottom: 0;
    left: 5%;
    transition: width .5s var(--timingFunction);
}
.language__button.active::before,
.language__button:hover::before {
    width: 95%;
}

.language__ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding-bottom: 1rem;
    position: absolute;
    top: -40rem;
    z-index: 500;
    background-color: var(--colorBgHeader);
}

.language__ul.not-visible {
    animation: slideOutTop2 1.5s var(--timingFunction);
}

.language__ul-visible {
    top: 6.5rem;
    animation: slideInTop .5s var(--timingFunction);
}

.language__ul-li {
    width: 100%;
}

.language__ul-li:hover {
    background-color: #5f5f5f30;
}

.li_lang {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 2rem;
    padding: 1.5rem 0;
    cursor: pointer;
}

.li_lang:hover {
    font-weight: 700;
}

.language__ul-li:first-of-type .li_lang:hover {
    background: linear-gradient(45deg, #3c3b6e, #fff, #822234);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.language__ul-li:last-of-type .li_lang:hover {
    background: linear-gradient(45deg, #ab0f19, #e8c202, #ab0f19);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



/* MAIN */

/* MAIN - Section Home */

.section_home {
    margin-top: 9rem;
    width: 100%;
    height: 50vh;
    background-image: url(assets/bgHome.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.section_home div {
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    display: grid;
    place-items: center;
    position: relative;
    z-index: 1;
}

.home_h1 {
    color: #f1f1f1;
    font-family: var(--fontTeko);
    font-size: 10rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: -2px 2px 5px #000;
    padding: 1rem 3rem;
}

.home_h1 span {
    color: #6BD41A;
}

/* MAIN - Section Drink */

.section_drink {
    width: 75%;
    margin: 15rem auto;
    padding: 2px;
    border-radius: 2rem;
}

#drink1 {
    background: linear-gradient(135deg, var(--meColor1) 0%, var(--meColor2) 50%, var(--meColor3) 100%);
}

#drink2 {
    background: linear-gradient(135deg, var(--vrColor1) 0%, var(--vrColor2) 100%);
}

#drink3 {
    background: linear-gradient(135deg, var(--mlColor1) 0%, var(--mlColor2) 50%, var(--mlColor3) 100%);
}

#drink4 {
    background: linear-gradient(135deg, var(--paColor1) 0%, var(--paColor2) 100%);
}

#drink5 {
    background: linear-gradient(135deg, var(--suColor1) 0%, var(--suColor2) 100%);
}

#drink6 {
    background: linear-gradient(135deg, var(--waColor1) 0%, var(--waColor2) 50%, var(--waColor3) 100%);
}

#drink7 {
    background: linear-gradient(135deg, var(--muColor1) 0%, var(--muColor2) 100%);
}

.drink_container {
    background-color: var(--colorBg);
    border-radius: 2rem;
    padding: 4rem;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.container_img {
    flex-basis: 15%;
}

.img_monster {
    width: 20rem;
    position: absolute;
    top: -50px;
    left: -70px;
    animation: float 3s var(--timingFunction) infinite;
}

#drink2 .img_monster,
#drink4 .img_monster,
#drink6 .img_monster {
    animation-delay: 1s;
}

.container_description {
    flex-basis: 75%;
    height: 45rem;
    display: flex;
    flex-wrap: wrap;
}

.description_title {
    flex-basis: 100%;
    height: 15rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #5f5f5f;
}

.description__h2 {
    flex-basis: 60%;
    font-size: 6.5rem;
    line-height: 5.5rem;
    font-family: var(--fontTeko);
    text-transform: uppercase;
    text-align: center;
    user-select: none;
}

.description__img {
    flex-basis: 40%;
    height: 100%;
    object-fit: contain;
}

.description_text {
    flex-basis: 100%;
    height: 20rem;
    margin-top: 2rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.description_text p {
    width: 60%;
    font-size: 2rem;
    text-align: center;
}

.description_flavor {
    flex-basis: 100%;
    align-self: flex-end;
    display: flex;
    align-items: center;
    border: 2px solid #5f5f5f;
}

.flavor_h5 {
    flex-basis: 30%;
    font-size: 3rem;
    font-family: var(--fontTeko);
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem;
    background-color: #5f5f5f20;
    border-right: 2px solid #5f5f5f;
}

.flavor_text {
    flex-basis: 70%;
    font-size: 2rem;
    text-align: center;
    padding: 1rem;
}

.container_info {
    flex-basis: 55%;
    height: 45rem;
    margin-top: 5rem;
    padding: 2rem;
    display: flex;
}

.info_ul {
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #5f5f5f;
}

.info__li {
    width: 100%;
}

.info__li-button {
    width: 100%;
    padding: 2rem 1rem;
    text-align: left;
    font-size: 2rem;
    font-family: var(--fontInter);
    cursor: pointer;
    background: none;
    border: none;
    color: inherit;
    transition: letter-spacing .2s var(--timingFunction);
}

.info__li.active .info__li-button,
.info__li-button:hover {
    border-right: 2px solid var(--meColor3);
    background: linear-gradient(to left, #5f5f5f30, transparent);
    letter-spacing: 1px;
}

.info_content {
    flex-basis: 75%;
    padding: 0 2.5rem;
    position: relative;
    overflow-y: hidden;
}

.tab-content {
    height: 100%;
    position: absolute;
    top: 200%;
    transition: top .75s var(--timingFunction);
}

.tab-content.active {
    top: 0;
}

.tab-content_h6 {
    font-size: 5rem;
    font-family: var(--fontTeko);
    letter-spacing: 1px;
    text-transform: uppercase;
}

.tab-content_text {
    font-size: 1.5rem;
}

.tab-content:last-of-type .tab-content_text {
    text-transform: uppercase;
}

.tab-content_table {
    width: 100%;
    border-collapse: collapse;
    font-size: 1.5rem;
    text-align: left;
}

.tab-content_table thead {
    background-color: #5f5f5f40;
    display: block;
}

.tab-content_table tbody {
    display: block;
    width: 100%;
    max-height: 30rem;
    overflow-y: auto;
}

.tab-content_table thead tr,
.tab-content_table tbody tr {
    display: flex;
}

.tab-content_table thead tr th:first-of-type,
.tab-content_table tbody tr th{
    flex-basis: 60%;
}

.tab-content_table thead tr th:last-of-type,
.tab-content_table tbody tr td{
    flex-basis: 40%;
}

.tab-content_table th, 
.tab-content_table td {
    padding: 1rem;
}

.tab-content_table tbody th, 
.tab-content_table tbody td {
    color: #b4b4b4;
    border-bottom: 1px solid #5f5f5f50;
}

.container_infoPerCan {
    flex-basis: 45%;
    font-family: var(--fontTeko);
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.infoPerCan_h4 {
    font-size: 3.5rem;
    font-weight: 400;
    letter-spacing: 1px;
}

.infoPerCan_div {
    width: 40rem;
    height: 25rem;
    display: flex;
    flex-wrap: wrap;
    outline: 2px solid #5f5f5f;
}

.infoPerCan__number {
    flex-basis: 50%;
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #5f5f5f35;
    border-bottom: 2px solid #5f5f5f;
}

.infoPerCan__number:first-of-type {
    border-right: 2px solid #5f5f5f;
}

.number_num {
    font-size: 6rem;
    font-weight: 700;
    letter-spacing: 5px;
    user-select: none;
}

.number_text {
    font-size: 2.5rem;
    letter-spacing: .5px;
    color: #5f5f5f;
    user-select: none;
}

.infoPerCan__link {
    flex-basis: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    letter-spacing: 1px;
    color: #6BD41A;
    transition: color .25s var(--timingFunction);
}

.infoPerCan__link:hover {
    color: var(--paColor2);
}

.infoPerCan__link i {
    margin-left: 1rem;
    color: #5f5f5f;
    transition: color .25s var(--timingFunction);
}

.infoPerCan__link:hover i {
    color: var(--paColor2);
}

.infoPerCan_text {
    font-family: var(--fontPoppins);
    text-transform: none;
    width: 40rem;
    margin-top: 2rem;
    font-size: 1.5rem;
    color: #5f5f5f;
    text-align: center;
}




/* FOOTER */

#footer {
    width: 100%;
    padding: 3rem 4rem 6rem;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem 4rem;
    justify-content: center;
    align-items: center;
    border-top: 4px solid #5f5f5f15;
}

.footer_container {
    min-width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
    color: #5f5f5f;
    font-family: var(--fontInter);
}

.footer_container:first-of-type,
.footer_container:last-of-type {
    flex-grow: 1;
}

.footer_container:nth-of-type(2),
.footer_container:nth-of-type(3) {
    align-self: flex-start;
}

.footer__link {
    display: inline-block;
    width: 20rem;
    max-height: 9rem;
    margin: 1rem 0;
    text-align: center;
    transition: transform .35s var(--timingFunction);
}

.footer__link:hover {
    transform: scale(1.1);
}

.footer__text {
    font-size: 1.3rem;
}

.footer_container:nth-of-type(2) .footer__h3,
.footer_container:nth-of-type(3) .footer__h3{
    width: 60%;
}

.footer__h3 {
    font-size: 2rem;
    letter-spacing: 1px;
    color: var(--colorText);
}

.footer__ul {
    width: 60%;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    margin-top: 2rem;
}

.footer__ul-li-link {
    display: inline-block;
    font-size: 1.5rem;
    transition: color .25s, transform .5s;
    transition-timing-function: var(--timingFunction);
}

.footer__ul-li-link:hover {
    color: #a1a1a1;
    transform: translateX(1rem);
}

.social_ul {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem 2.5rem;
    padding: 1rem;
}

.social__li-link {
    display: inline-block;
    padding: .5rem;
    font-size: 2.5rem;
    color: #a1a1a1;
    transition: color .25s, transform .5s;
    transition-timing-function: var(--timingFunction);
}

.social__li-link:hover {
    color: var(--paColor2);
    transform: translateY(-1rem);
}

.footer__h3:last-of-type {
    margin-top: 2rem;
}

.footer__newsletter {
    display: flex;
    margin-top: 1.5rem;
    width: 50%;
    background-color: #5f5f5f10;
    font-size: 1.3rem;
    border-bottom: 2px solid #5f5f5f;
    transition: border-bottom-color .25s var(--timingFunction);
}

.footer__newsletter:hover,
.footer__newsletter.active {
    border-bottom-color: var(--paColor2);
}

.newsletter_input {
    all: unset;
    flex-grow: 1;
    padding: 1rem;
    color: #a1a1a1;
}

.newsletter_input::placeholder {
    letter-spacing: 1px;
    color: #5f5f5f;
}

.newsletter_button {
    all: unset;
    padding: 1rem;
    font-size: 1.8rem;
    line-height: 1.3rem;
    transition: color .25s var(--timingFunction);
}

.newsletter_button:hover,
.newsletter_button.active {
    color: var(--paColor2);
}

.newsletter_button:hover {
    animation: slide 1.5s infinite;
}




/* MEDIA QUERIES

Responsive BreakPoints */

/* Mobile >= 320px */

@media screen and (min-width: 260px) and (max-width: 767px) {
    html {
        font-size: 8px;
    }

    /* HEADER */

    #header {
        padding: 1rem;
        column-gap: .5rem;
    }

    /* HEADER - Logo */
    
    .header_logo {
        width: 12rem;
    }

    .header_logo img {
        object-fit: contain;
    }

    /* HEADER - Products */

    .nav_button {
        font-size: 1.5rem;
        padding: 1rem 0;
        transition: letter-spacing .2s var(--timingFunction);
    }

    .nav_button:hover {
        letter-spacing: 0;
    }

    .nav_button.active {
        letter-spacing: 1px;
    }

    .nav_button::before,
    .nav_button::after {
        bottom: -2.4rem;
    }
    .nav_button:hover::before,
    .nav_button:hover::after {
        width: 0;
    }

    .nav_button.active::before,
    .nav_button.active::after {
        width: 50%;
    }

    .nav_button i {
        margin-left: .3rem;
        transform: rotate(-90deg);
    }

    .nav_ul {
        align-items: unset;
        padding: 2rem;
        gap: 0 2rem;
        top: 8.9rem;
        left: -100%;
        width: 100%;
        height: calc(70vh - 9rem);
    }

    .nav_ul.not-visible {
        animation: none;
        transition: left .5s var(--timingFunction);
    }

    .nav_ul-visible {
        left: 0;
        animation: slideInLeft .5s var(--timingFunction);
    }

    .nav__li {
        flex-basis: calc((100% - 2rem) / 2);
        max-width: unset;
        min-width: unset;
        height: 8rem;
    }

    .nav__li-link {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 1.5rem;
        background-color: #5f5f5f10;
    }

    .link_img{
        width: 20%;
        height: 100%;
        min-height: unset;
    }

    .link_span {
        padding-top: 0;
        width: 80%;
        font-size: 2.5rem;
        line-height: unset;
    }

    .nav__li-link::before {
        content: '';
        width: 3px;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        transition: left .75s var(--timingFunction);
    }

    .nav__li-link:hover::before {
        left: 100%;
    }

    .nav__li-link::after {
        content: '';
        width: 0;
        height: 100%;
        transition: width .75s var(--timingFunction);
    }

    .nav__li-link:hover::after {
        width: 100%;
    }

    /* HEADER - Language */

    .language__button {
        font-size: 1.5rem;
        padding: 1rem .5rem;
    }
    
    .language__button:hover {
        color: inherit;
    }

    .language__button.active {
        color: var(--meColor2);
    }
    
    .language__button:hover::before {
        width: 0%;
    }

    .language__button.active::before {
        width: 95%;
    }

    .language__ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        padding-bottom: 1rem;
        position: absolute;
        top: -50vh;
    }

    .language__ul.not-visible {
        animation: slideOutTop2 1.5s var(--timingFunction);
    }

    .language__ul-visible {
        top: 6.3rem;
        animation: slideInTop .5s var(--timingFunction);
    }

    .li_lang {
        font-size: 1.5rem;
    }
    
    /* MAIN */

    /* MAIN - Section Home */

    .section_home {
        height: 60vh;
        background-image: url(assets/bgHomeMobile.webp);
    }

    .home_h1 {
        text-align: center;
        font-size: 6rem;
        line-height: 5.8rem;
        padding: 3rem;
    }

    /* MAIN - Section Drink */

    .section_drink {
        width: 85%;
        padding: 1px;
    }

    #drink1 {
        margin-top: 10rem;
    }

    .drink_container {
        padding: 2rem 1.5rem;
    }

    .container_img {
        flex-basis: 1%;
    }

    .img_monster {
        width: 7rem;
        top: -45px;
        left: -20px;
        animation: none;
    }

    .container_description {
        flex-basis: 99%;
        height: 55rem;
    }

    .description_title {
        height: fit-content;
        display: flex;
        flex-wrap: wrap;
        align-items: unset;
        justify-content: center;
    }

    .description__h2 {
        order: 10;
        flex-basis: 100%;
        font-size: 4rem;
        line-height: 3.5rem;
        margin: 1.5rem 0 1rem;
    }
    
    .description__img {
        flex-basis: 100%;
        height: 12rem;
    }

    .description_text {
        margin-top: 1rem;
    }
    
    .description_text p {
        width: 100%;
        font-size: 1.5rem;
    }

    .description_flavor {
        flex-wrap: wrap;
    }
    
    .flavor_h5 {
        flex-basis: 100%;
        font-size: 2.5rem;
        border-right: none;
        border-bottom: 2px solid #5f5f5f;
    }
    
    .flavor_text {
        flex-basis: 100%;
        font-size: 1.5rem;
    }

    .container_info {
        flex-basis: 100%;
        height: 40rem;
        padding: 1rem;
        flex-direction: column;
        row-gap: 2rem;
    }
    
    .info_ul {
        flex-basis: unset;
        height: fit-content;
        flex-direction: row;
        border-right: none;
        border-bottom: 1px solid #5f5f5f;
    }
    
    .info__li-button {
        width: 100%;
        padding: 1.5rem 1rem;
        text-align: center;
        font-size: 1.5rem;
    }
    
    .info__li.active .info__li-button,
    .info__li-button:hover {
        border-right: none;
        border-bottom: 1px solid var(--meColor3);
        background: linear-gradient(to top, #5f5f5f30, transparent);
        letter-spacing: 0;
    }
    
    .info_content {
        flex-basis: unset;
        height: 100%;
        padding: 1rem;
    }

    .tab-content {
        height: fit-content;
        position: absolute;
        top: 200%;
        transition: top .75s var(--timingFunction);
    }
    
    .tab-content.active {
        top: 0;
    }
    
    .tab-content_h6 {
        text-align: center;
        font-size: 3.5rem;
        line-height: 3.3rem;
        margin-bottom: 1rem;
    }
    
    .tab-content_text {
        font-size: 1.3rem;
    }
    
    .tab-content_table {
        font-size: 1.3rem;
    }

    .tab-content_table tbody {
        max-height: 20rem;
        overflow-y: auto;
    }

    .container_infoPerCan {
        flex-basis: 100%;
        justify-content: flex-start;
    }
    
    .infoPerCan_h4 {
        font-size: 3rem;
    }
    
    .infoPerCan_div {
        width: 90%;
        height: 20rem;
    }
    
    .number_num {
        font-size: 4rem;
        letter-spacing: 3px;
    }
    
    .number_text {
        font-size: 1.5rem;
    }
    
    .infoPerCan__link {
        font-size: 2rem;
    }
    
    .infoPerCan_text {
        width: 100%;
        margin-top: 2rem;
        font-size: 1.2rem;
    }

    /* FOOTER */

    #footer {
        width: 100%;
        padding: 3rem 1rem 6rem;
    }

    .footer_container:first-of-type {
        order: 10;
    }
    
    .footer_container {
        min-width: unset;
        flex-basis: 100%;
    }
    
    .footer_container:nth-of-type(2),
    .footer_container:nth-of-type(3) {
        order: 5;
        align-self: flex-start;
        flex-basis: calc((100% - 4rem) / 2);
    }
    
    .footer_container:nth-of-type(2) .footer__h3,
    .footer_container:nth-of-type(3) .footer__h3{
        width: 70%;
    }
    
    .footer__h3 {
        font-size: 1.8rem;
    }
    
    .footer__ul {
        width: 70%;
    }
    
    .footer__ul-li-link {
        font-size: 1.4rem;
    }
    
    .social_ul {
        width: 90%;
        gap: 1rem 1.5rem;
    }
    
    .footer__newsletter {
        width: 80%;
    }
}

@media screen and (max-width: 290px) and (orientation: portrait) {
    /* MAIN  */

    /* MAIN - Section Drink */

    .img_monster {
        width: 5.5rem;
    }

    .container_info {
        height: 45rem;
    }

    .tab-content:last-of-type .tab-content_text {
        font-size: 1.2rem;
    }
    
}

@media screen and (min-width: 400px) and (max-width: 600px) and (orientation: portrait) {
    /* HEADER */

    #header {
        padding: 1rem 3rem;
    }

    /* MAIN */

    /* MAIN - Section Drink */

    .img_monster {
        width: 8rem;
    }

    /* FOOTER */

    .footer__newsletter {
        width: 65%;
    }
}

@media screen and (min-width: 600px) and (max-width: 767px) and (orientation: portrait) {
    /* MAIN  */

    /* MAIN - Section Drink */

    .description_flavor {
        flex-basis: 70%;
        flex-wrap: wrap;
        margin: 0 auto;
    }
    
    .infoPerCan_div {
        width: 70%;
    }
    
    .infoPerCan_text {
        width: 80%;
        margin-top: 2rem;
        font-size: 1.2rem;
    }

    .container_info {
        flex-basis: 85%;
        margin-left: auto;
        margin-right: auto;
    }
}

/* Tablet >= 768px */

@media screen and (min-width: 768px) and (max-width: 1023px) {
    html {
        font-size: 9px;
    }

    /* HEADER */

    #header {
        padding: 1rem 8rem;
        column-gap: 1rem;
    }

    /* HEADER - Logo */
    
    .header_logo {
        width: 15rem;
    }

    .header_logo img {
        object-fit: contain;
    }

    /* HEADER - Products */

    .nav_button {
        font-size: 1.8rem;
        padding: 1rem;
        transition: letter-spacing .2s var(--timingFunction);
    }

    .nav_button:hover {
        letter-spacing: 0;
    }

    .nav_button.active {
        letter-spacing: 1px;
    }

    .nav_button::before,
    .nav_button::after {
        bottom: -2.4rem;
    }
    .nav_button:hover::before,
    .nav_button:hover::after {
        width: 0;
    }

    .nav_button.active::before,
    .nav_button.active::after {
        width: 50%;
    }

    .nav_button i {
        margin-left: .3rem;
        transform: rotate(-90deg);
    }

    .nav_ul {
        align-items: unset;
        padding: 2rem 4rem;
        gap: 0 4rem;
        top: 8.9rem;
        left: -100%;
        width: 100%;
        height: calc(100vh - 8.9rem);
    }

    .nav_ul.not-visible {
        animation: none;
        transition: left .5s var(--timingFunction);
    }

    .nav_ul-visible {
        left: 0;
        animation: slideInLeft .5s var(--timingFunction);
    }

    .nav__li {
        flex-basis: calc((100% - (4rem * 3)) / 4);
        max-width: unset;
        min-width: unset;
        height: 12rem;
    }

    .nav__li-link {
        padding-bottom: 2rem;
        align-items: center;
        background-color: #5f5f5f10;
    }

    .link_img{
        width: 100%;
        height: 80%;
        min-height: unset;
    }

    .link_span {
        width: 100%;
        font-size: 2.5rem;
        line-height: unset;
    }

    .nav__li-link::before {
        height: 2px;
    }

    /* HEADER - Language */

    .language__button {
        font-size: 1.8rem;
        padding: 1rem;
    }
    
    .language__button:hover {
        color: inherit;
    }

    .language__button.active {
        color: var(--meColor2);
    }
    
    .language__button:hover::before {
        width: 0%;
    }

    .language__button.active::before {
        width: 95%;
    }

    .language__ul {
        row-gap: .5rem;
        top: -50vh;
    }

    .language__ul.not-visible {
        animation: slideOutTop2 1.5s var(--timingFunction);
    }

    .language__ul-visible {
        top: 6.5rem;
        animation: slideInTop .5s var(--timingFunction);
    }

    .li_lang {
        font-size: 1.8rem;
    }
    
    /* MAIN */

    /* MAIN - Section Home */

    .home_h1 {
        text-align: center;
        font-size: 6rem;
        line-height: 5.8rem;
        padding: 3rem;
    }

    /* MAIN - Section Drink */

    .section_drink {
        width: 85%;
        padding: 1px;
    }

    #drink1 {
        margin-top: 10rem;
    }

    .drink_container {
        padding: 2rem 1.5rem;
    }

    .container_img {
        flex-basis: 5%;
    }

    .img_monster {
        width: 9rem;
        top: -45px;
        left: -40px;
    }

    .container_description {
        flex-basis: 90%;
        height: 50rem;
    }

    .description__h2 {
        font-size: 5rem;
        line-height: 4.5rem;
    }

    .description__img {
        height: 85%;
    }

    .description_text {
        margin-top: 1rem;
    }
    
    .description_text p {
        width: 100%;
        font-size: 1.8rem;
    }
    
    .flavor_h5 {
        font-size: 2.5rem;
    }
    
    .flavor_text {
        font-size: 1.5rem;
    }

    .container_info {
        flex-basis: 100%;
        height: 35rem;
        padding: 1rem;
    }
    
    .info_ul {
        flex-basis: 25%;
    }
    
    .info__li-button {
        width: 100%;
        padding: 2rem 1.5rem;
        font-size: 2rem;
    }
    
    .info__li.active .info__li-button,
    .info__li-button:hover {
        letter-spacing: 0;
    }
    
    .info_content {
        flex-basis: 75%;
        padding: 1rem 2rem;
    }

    .tab-content {
        position: absolute;
        top: 200%;
        transition: top .75s var(--timingFunction);
    }
    
    .tab-content.active {
        top: 0;
    }
    
    .tab-content_h6 {
        font-size: 4rem;
    }
    
    .tab-content_text {
        font-size: 1.4rem;
    }
    
    .tab-content_table {
        font-size: 1.4rem;
    }

    .tab-content_table tbody {
        max-height: 24rem;
        overflow-y: auto;
    }

    .container_infoPerCan {
        margin-top: 2rem;
        flex-basis: 100%;
    }
    
    .infoPerCan_h4 {
        font-size: 3rem;
    }
    
    .infoPerCan_div {
        width: 65%;
        height: 20rem;
    }
    
    .number_num {
        font-size: 4rem;
        letter-spacing: 3px;
    }
    
    .number_text {
        font-size: 2rem;
    }
    
    .infoPerCan__link {
        font-size: 2rem;
    }
    
    .infoPerCan__link i {
        line-height: 1.5;
    }
    
    .infoPerCan_text {
        width: 70%;
        margin-top: 2rem;
        font-size: 1.4rem;
    }

    /* FOOTER */

    #footer {
        width: 100%;
        padding: 3rem 2rem 6rem;
    }
    
    .footer_container {
        flex-basis: calc((100% - 4rem) / 2);
        min-width: unset;
    }

    .footer_container:nth-of-type(2) {
        order: -10;
    }
    
    .footer_container:nth-of-type(2),
    .footer_container:nth-of-type(3) {
        align-self: flex-start;
    }

    .footer__text {
        font-size: 1.4rem;
    }

    .footer_container:last-of-type .footer__text {
        width: 80%;
        margin-top: 1rem;
        text-align: center;
    }
    
    .footer__ul-li-link {
        font-size: 1.5rem;
    }
    
    .social_ul {
        width: 80%;
        gap: 1rem 1.5rem;
    }
    
    .footer__newsletter {
        width: 80%;
    }
}

@media screen and (min-width: 768px) and (min-height: 900px) {
    /* HEADER */

    /* HEADER - Products */

    .nav_ul {
        align-items: center;
        height: calc(50vh - 8.9rem);
    }
}

/* Desktop >= 1024px */

@media screen and (min-width: 1024px) and (max-width: 1300px) {
    html {
        font-size: 10px;
    }

    /* HEADER */

    #header {
        padding: 1rem 10rem;
        column-gap: 2rem;
    }

    /* HEADER - Products */

    .nav_button {
        padding: 1rem 1.5rem;
    }

    .nav_ul {
        width: 95%;
        gap: 2rem;
        top: -100vh;
    }
    
    .nav_ul.not-visible {
        animation: slideOutTop 1.5s var(--timingFunction);
    }
    .nav_ul-visible {
        top: 9rem;
        animation: slideInTop 1s var(--timingFunction);
    }
    
    .nav__li {
        flex-basis: calc((100% - (2rem * 6)) / 7);
        max-width: unset;
        min-width: 0px;
        height: 100%;
    }

    /* MAIN */

    /* MAIN - Section Home */

    .section_home {
        margin-top: 9rem;
        width: 100%;
        height: 60vh;
    }

    .home_h1 {
        font-size: 8rem;
    }
    
    /* MAIN - Section Drink */

    .section_drink {
        width: 85%;
    }

    #drink1 {
        margin-top: 10rem;
    }

    .drink_container {
        padding: 4rem 3rem;
    }

    .container_img {
        flex-basis: 5%;
    }

    .img_monster {
        width: 10rem;
        top: -45px;
        left: -55px;
    }

    .container_description {
        flex-basis: 90%;
        height: 45rem;
    }

    .description__h2 {
        font-size: 5.5rem;
        line-height: 5rem;
    }

    .description__img {
        height: 85%;
    }

    .description_text {
        margin-top: 1rem;
    }
    
    .description_text p {
        width: 85%;
        font-size: 1.8rem;
    }

    .flavor_h5 {
        font-size: 2.8rem;
    }
    
    .flavor_text {
        font-size: 1.8rem;
    }

    .container_info {
        flex-basis: 100%;
        height: 40rem;
    }

    .info__li-button {
        font-size: 1.8rem;
    }

    .tab-content_h6 {
        font-size: 4rem;
    }
    
    .tab-content_table {
        font-size: 1.3rem;
    }

    .tab-content_table tbody {
        max-height: 25rem;
        overflow-y: auto;
    }

    .container_infoPerCan {
        flex-basis: 100%;
    }
    
    .infoPerCan_h4 {
        font-size: 3rem;
    }

    .number_num {
        font-size: 4.5rem;
        letter-spacing: 3px;
    }
    
    .number_text {
        font-size: 2rem;
    }
    
    .infoPerCan__link {
        font-size: 2rem;
    }

    .infoPerCan_text {
        font-size: 1.3rem;
    }

    /* FOOTER */

    .footer_container {
        min-width: 0;
        flex-basis: calc((100% - (4rem * 4)) / 4);
    }

    .footer__link {
        width: 100%;
    }

    .footer_container:nth-of-type(2) .footer__h3,
    .footer_container:nth-of-type(3) .footer__h3{
        width: 90%;
    }

    .footer__ul {
        width: 90%;
    }

    .social_ul {
        width: 90%;
        gap: 2rem;
    }

    .social__li-link {
        font-size: 2.3rem;
    }

    .footer__newsletter {
        width: 100%;
    }

    .newsletter_input {
        padding-right: 0;
    }

    .newsletter_button {
        padding: 1rem 0;
        margin-right: 1rem;
    }
}

@media screen and (min-width: 1301px) and (max-width: 1610px) {

    /* HEADER */

    #header {
        padding: 1rem 12rem;
        column-gap: 3rem;
    }

    /* HEADER - Products */

    .nav_ul {
        width: 95%;
        gap: 2rem;
        top: -100vh;
    }
    
    .nav_ul.not-visible {
        animation: slideOutTop 1.5s var(--timingFunction);
    }
    .nav_ul-visible {
        top: 9rem;
        animation: slideInTop 1s var(--timingFunction);
    }
    
    .nav__li {
        flex-basis: calc((100% - (2rem * 6)) / 7);
        max-width: unset;
        min-width: 0px;
        height: 100%;
    }

    /* MAIN */
    
    /* MAIN - Section Drink */

    .section_drink {
        width: 85%;
    }

    .drink_container {
        padding: 4rem 2rem;
    }

    .container_img {
        flex-basis: 10%;
    }

    .img_monster {
        width: 15rem;
        top: -50px;
        left: -60px;
    }

    .container_description {
        flex-basis: 80%;
        height: 45rem;
    }

    .description__h2 {
        font-size: 6rem;
        line-height: 5.5rem;
    }

    .description__img {
        height: 85%;
    }
    
    .description_text p {
        width: 90%;
    }

    .container_info {
        flex-basis: 60%;
        padding: 2rem 1rem;
    }

    .tab-content_h6 {
        font-size: 4rem;
    }

    .tab-content_table tbody {
        max-height: 30rem;
        overflow-y: auto;
    }

    .container_infoPerCan {
        flex-basis: 40%;
    }

    .infoPerCan_div {
        width: 35rem;
        height: 20rem;
    }

    .number_num {
        font-size: 4rem;
        letter-spacing: 3px;
    }
    
    .number_text {
        font-size: 2rem;
    }
    
    .infoPerCan__link {
        font-size: 2rem;
    }

    .infoPerCan_text {
        width: 35rem;
    }

    /* FOOTER */

    .footer_container {
        min-width: 0;
        flex-basis: calc((100% - (4rem * 4)) / 4);
    }

    .footer__link {
        width: 100%;
    }

    .footer_container:nth-of-type(2) .footer__h3,
    .footer_container:nth-of-type(3) .footer__h3{
        width: 80%;
    }

    .footer__ul {
        width: 80%;
    }

    .social_ul {
        width: 75%;
    }

    .footer__newsletter {
        width: 100%;
    }
}